.quad {
    width: 50vw;
    height: 50vw;
};

#eat {
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #c8d5b9;
  
};

#play {
    position: fixed;
    background-color: #8fc0a9;
    top: 0; 
    left: 50%;
};

#fight {
    position: fixed;
    background: #faf3dd;
    top: 50%;
    left: 0;

};

#sleep {
    position: fixed;
    background-color: #68b0ab;
    top: 50%;
    left: 50%;
};

.playContainer {
    text-align: center;
}

.feedMe {
    text-align: center;
}

.sleepContainer {
    text-align: center;
}

.fightContainer {
    text-align: center;
}

.overallButton {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

.checkProgress {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    justify-content: center;
}